
<div class='form-container'>
  <h1>Create a New Movie</h1>
  <%= render 'form' %>
</div>



<%# <form action="/movies" method="POST">
  <input type="text" name='person[name]'>
  <input type="number" name='person[age]'>
  <input type="color" name='person[skin_tone]'>
  <input type="submit" >
</form> %>

<%# params = {name: "Kim", age: 8, skin_tone: "red"}
params = {
  movie: {title: "Kim", genre: 8, release_date: "red"}
  }


  params[:age]
  params[:movie][:title] %>